body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 40px;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 70%; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#chatbox {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre-wrap;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#clearBtn {
    display: block;
    text-align: center;
    margin: 20px auto; 
    background-color: #3498db;
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
